
@{
    Layout = null;
}

<h2>Muammer Metin Sayfası</h2>
<br />
<p>Burası Metin Kısmı</p>
<br />
<div style="background-color:orangered">
    Merhaba Arkadaşlar
</div>
<br />
<div style="background-color:yellow">
    Selamlar
</div>
<br />
<a href="https://www.google.com/" >Googleye Gitmek İçin Buraya Tıkla</a>
<br />
<br />
<br />
<a href="/Default/İkinciSayfa/">İkinci Sayfaya Git</a>